.button-pagination{
    background-color: yellow;
    border-radius: 5px;
    border:1px solid black;
    color: black;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.button-pagination:hover{
    background-color: black;
    color: white
}

.container-pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .2em;
}